.navbar {
  display: flex;
  padding: 2rem 1rem;
  align-items: center;
}

.brand > * {
  font-family: "Space Mono", monospace;
  font-weight: 700;
  font-size: 3rem;
}

.buttonGroup {
  margin-left: auto;
}

.buttonGroup > *:not(:last-child) {
  margin-right: 1rem;
}