.navbar {
  position: sticky;
  top: 0;
  left: 0;

  display: flex;
  padding: 2rem 1rem;
  align-items: center;
  background-color: var(--color-white);
}

.brand > * {
  font-family: "Space Mono", monospace;
  font-weight: 700;
  font-size: 3rem;
}

.buttonGroup {
  margin-left: auto;
}

.buttonGroup > *:not(:last-child) {
  margin-right: 2rem;
}

@media (max-width: 680px) {
  .navbar {
  }

  .brand {
  }

  .buttonGroup {
    /* display: none; */
  }
}