.container {
  display: flex;
  flex-direction: column;
  margin: 0 var(--spacing-separate);
}

.form {
  display: flex;
  flex-direction: column;
  margin-bottom: var(--spacing-separate);
}

.form label {
  margin-bottom: var(--spacing-related);
}

.title {
  margin-bottom: var(--spacing-related);
}

.thumbnail {
  width: 100%;
}

.submit {
  margin-top: var(--spacing-separate);
  margin-left: auto;
}