:root {
  /*
    NEUTRALS
  */
  --color-black: #000000;
  --color-neutral-800: #1c1c1c;
  --color-neutral-700: #3c3c3c;
  --color-neutral-600: #525252;
  --color-neutral-500: #767676;
  --color-neutral-400: #9b9b9b;
  --color-neutral-300: #c0c0c0;
  --color-neutral-200: #dcdcdc;
  --color-neutral-100: #f1f1f1;
  --color-white: #f1f1f1;
  /*
    BRAND
  */
  --color-primary: #0069ed;
}

/*
Perform basic CSS reset so that every browser displays CSS
in exactly the same way
*/
*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  /* box-sizing by default is not inherited, so force it to be inherited */
  /* i.e. all child elements with the box-sizing property will now inherit from this */
  box-sizing: inherit;

  font-family: "Cabin", sans-serif;
}

html {
  /* This assigned root font size will allow the usage of the rem unit */
  /* The rem unit is used to define children element padding/font sizes */
  /* Default font size is 16px so set it to 10px (62.5% of 16px) for easy calculations */
  /* (1 rem == 10px) */
  font-size: 62.5%;

  /* @media (max-width: 1630px) {
    font-size: 56.25%;
  } */
}

body {
  font-size: 2.4rem;
  box-sizing: border-box;
}

button {
  font-size: inherit;
  display: inline-block;
  border: none;
  padding: 1rem 2rem;
  margin: 0;
  text-decoration: none;
  background: var(--color-primary);
  color: var(--color-white);
  cursor: pointer;
  text-align: center;
  -webkit-appearance: none;
  -moz-appearance: none;
}

button:hover,
button:focus {
  background: var(--color-black);
}

button:focus {
  outline: 1px solid var(--color-white);
  outline-offset: -4px;
}

button:active {
  transform: scale(0.99);
}

a,
a:link,
a:visited {
  color: var(--color-black);
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

a:active {
  color: var(--color-primary);
}

a:focus {
  outline: 1px solid var(--color-black);
}

/* 
  Styling text inputs only
*/
input:not([type="submit"]):not([type="file"]) {
  padding: 1rem 2rem;
  border-radius: 0;
  border: 2px solid var(--color-black);
  background-color: var(--color-white);
}

input:not([type="submit"]):not([type="file"]):focus {
  outline: 1px solid var(--color-black);
  outline-offset: 4px;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Space Mono", monospace;
  font-weight: 700;
}
