.container {
  display: flex;
  flex-wrap: wrap;
  margin-top: -1rem;
}

.container > * {
  flex-grow: 1;
  width: 40rem;
  margin: 0 1rem;
  margin-top: 1rem;
}

.info {
  text-align: center;
}

.empty {
  height: 0;
  flex-grow: 1;
}