.container {
  display: flex;
  flex-wrap: wrap;
  margin: 0 calc(var(--spacing-separate) / 2);
  margin-top: calc(-1 * var(--spacing-separate) / 2);
}

.container > * {
  flex-grow: 1;
  width: 40rem;
  margin: 0 calc(var(--spacing-separate) / 2);
  margin-top: calc(var(--spacing-separate) / 2);
}

.info {
  margin: 0 var(--spacing-separate);
  text-align: center;
}

.empty {
  height: 0;
  flex-grow: 1;
}