.video {
  position: relative;
  /* padding-bottom: 56.25%;
  height: 0; */
  width: 100%;
}

.video iframe {
  position: absolute;
  width: 100%;
  height: 100%;
}

.notesSection {
  display: flex;
  flex-direction: column;
  background-color: var(--color-neutral-200);
}

.list {
  overflow-y: auto;
  display: flex;
  height: 100%;
  flex-direction: column;
  font-size: 2rem;
}

.note {
  display: flex;
}

.timestamp {
  font-size: inherit;
  color: blue;
  background-color: transparent;
  padding: 0;
}

.timestamp:hover {
  background-color: transparent;
}

.content {
  flex: 1;
  margin-left: var(--spacing-related);
}

.form {
  display: flex;
  height: 5rem;
}

.form input {
  flex: 1;
}

.form button {
  font-size: 2rem;
}

.container {
  display: flex;
  height: calc(100vh - var(--height-navbar));
  width: 100%;
}

@media (max-width: 600px) {
  .container {
    flex-direction: column;
  }

  .video {
    min-height: 30rem;
  }

  .notesSection {
    height: calc(100vh - var(--height-navbar) - 30rem);
  }
}