.video {
  position: relative;
  /* padding-bottom: 56.25%;
  height: 0; */
  width: 100%;
}

.video iframe {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.notesSection {
  display: flex;
  flex-direction: column;
  background-color: var(--color-neutral-200);
}

.list {
  overflow-y: auto;
  display: flex;
  height: 100%;
  flex-direction: column;
  font-size: 2rem;
}

.note {
  display: flex;
}

.timestamp {
  font-size: inherit;
  color: blue;
  background-color: transparent;
  padding: 0;
}

.timestamp:hover {
  background-color: transparent;
}

.content {
  flex: 1;
  margin-left: 1rem;
}

.form {
  display: flex;
}

.form input {
  flex: 1;
}

.container {
  display: flex;
  height: 50vh;
  width: 100%;
}