.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 4rem 1rem;
}

.buttonGroup > * {
  width: 100%;
}

.buttonGroup > *:not(:last-child) {
  margin-bottom: 1rem;
}

.title {
  text-align: center;
  font-size: 4rem;
  margin-bottom: 2rem;
}

.title a {
  font-family: var(--font-brand);
  font-weight: 700;
}